@use '../abstract/forwards' as *;

.btn {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 30px;
  // background: rgba(117, 117, 117, 0.2);
  background: $dark-background;
  color: white;
  @include transition(short);
  -webkit-appearance: none;
  opacity: 1;

  @include media(tablet) {
    &--big {
      font-size: 2rem;
    }
  }

  &--contact {
    box-shadow: $shadow-light;
    border: 1px solid rgba(255, 255, 255, 0.348);
  }

  &--small {
    padding: 0.8rem 1.5rem;
    // font-size: 1rem;
  }

  &--force-hover {
    &:hover {
      opacity: 0.8;
      padding: 1.2rem 2.4rem;
      margin-top: -0.4rem;
      border-radius: 50px;
      cursor: pointer;
    }
  }

  &:hover {
    transform: scale(1.1);
    opacity: 0.8;
    cursor: pointer;
  }
}
