@use '../abstract/forwards' as *;

.btn {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 30px;
  background: $dark-background;
  color: white;
  transition: transform 0.2s;

  @include media(tablet) {
    &--big {
      font-size: 2rem;
    }
  }

  &--small {
    padding: 0.5rem 1.5rem;
    // font-size: 1rem;
  }

  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}
