@use '../abstract/forwards' as *;

%shared-hover-boxes {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
  box-shadow: rgba(255, 255, 255, 1) 10px 10px 50px 10px;
  opacity: 0;
  transition: 1s all;
}

.cards {
  & .card {
    transition: all 2s;

    &__content {
      padding: 1rem;
      background: rgba(0, 0, 0, 0.4);
      box-shadow: rgba(0, 0, 0, 1) 10px 10px 50px 10px;
      border-radius: 10px;
      transition: 0.5s;
      color: white;
      text-align: center;
      transition: all 2s;
      max-width: 60vw;
    }

    &__title {
      margin-bottom: 1rem;
      transition: all 2s;
    }

    &__body {
      margin-bottom: 1rem;
      transition: all 2s;
    }

    &__links {
      display: flex;
      justify-content: space-around;
    }

    &__link {
      color: white;
      text-decoration: none;
      transition: all 0.2s;

      &:hover {
        text-decoration: underline;
        opacity: 0.8;
        transform: scale(1.2);
      }
    }

    &__box {
      position: relative;
      height: 600px;
      width: 500px;
      max-height: 90vh;
      max-width: 70vw;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem 0.5rem;
      transition: all 2s;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 70%;
        height: 100%;
        border-radius: 8px;
        transition: 0.5s;
        transform: skewX(0);
        transition: all 2s;
      }
      &::after {
        filter: blur(30px);
      }

      &:nth-child(2)::before,
      &:nth-child(2)::after {
        left: 15%;
        background: linear-gradient(315deg, #03a9f4, #ff0058);
      }

      &:first-child,
      &:last-child {
        display: none;
      }
      &:nth-child(2) {
        margin: auto;
      }

      @include media(tablet) {
        max-width: 80vw;

        &::before,
        &::after {
          width: 50%;
        }

        &:first-child,
        &:last-child {
          display: flex;
        }
        &:nth-child(2) {
          margin: auto;
        }

        &:nth-child(1)::before,
        &:nth-child(1)::after {
          left: 25%;
          background: linear-gradient(315deg, #ffbc00, #ff0058);
          transform: skewX(15deg);
        }
        &:nth-child(2)::before,
        &:nth-child(2)::after {
          left: 25%;
          right: 25%;
        }
        &:nth-child(3)::before,
        &:nth-child(3)::after {
          right: 25%;
          background: linear-gradient(315deg, #4dff03, #00d0ff);
          transform: skewX(-15deg);
        }
      }

      &:hover::before,
      &:hover::after {
        left: 10%;
        transform: skewX(0deg);
        width: 80%;
        animation: animate 2s linear infinite;
      }

      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &::before {
          @extend %shared-hover-boxes;
          top: 0;
          left: 0;
        }

        &::after {
          @extend %shared-hover-boxes;
          bottom: 0;
          right: 0;
        }
      }

      &:hover span::before,
      &:hover span::after {
        opacity: 0.5;
        width: 40%;
        height: 10%;
        animation: animate 2s linear infinite;
      }

      &:hover span::before {
        top: -20px;
        left: 10px;
      }

      &:hover span::after {
        bottom: -20px;
        right: 10px;
      }
    }
  }
}
