@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;

.carosell__btn {
  position: absolute;
  top: 0;
  left: 2%;
  width: 96%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-single {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.034);
    padding: 1rem 1rem;
    border-radius: 30px;
    color: white;
    transition: all 0.2s;
    border: 1px solid rgba(255, 255, 255, 0.396);

    @include media(tablet) {
      font-size: 2rem;
      padding: 1rem 2rem;
    }

    &:hover {
      transform: scale(1.4);
      cursor: pointer;
    }
  }
}
