@use '../abstract/forwards' as *;

html {
  box-sizing: border-box;
  overflow-x: hidden;
  // scroll-behavior: smooth;
  // scroll-snap-type: Y mandatory;

  font-size: 80%;

  // @include media(tablet) {
  //   font-size: 90%;
  // }

  @include media(tablet) {
    @supports (scroll-behavior: smooth) and (scroll-snap-type: Y mandatory) {
      scroll-behavior: smooth;
      scroll-snap-type: Y mandatory;
    }
  }

  @media screen and (min-width: map-get($breakpoint, 'tablet')) and (min-height: 1000px) {
    font-size: 100%;
  }

  @media screen and (min-width: 1500px) and (min-height: 1000px) {
    font-size: 100%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: $font-color;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
