@use '../abstract/forwards' as *;

.contact {
  @extend %section;
  padding: 2rem 0 5rem;

  div {
    transition: all 0.5s;
  }

  @include media(tablet) {
    padding: 4rem 0 3rem;
  }

  // @extend %yoda;

  &__title {
    text-align: center;
    margin-bottom: 1rem;
  }

  &__container {
    @include container;
    padding: 1rem;
    border-radius: 30px;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 100px;

    @include media(tablet) {
      padding: 3rem;
    }
  }

  .form {
    @include flex(column);
    justify-content: center;

    &__email,
    &__name,
    &__message {
      font-size: inherit;
      font-family: inherit;
      margin-bottom: 1rem;
      padding: 0.8rem 2rem;
      border-radius: 10px;
      background: rgba(255, 255, 255, 1);
      opacity: 0.8;
      border: none;
      -webkit-appearance: none;

      &:focus {
        border-bottom: orange 5px solid;
        outline: none;
      }
    }

    &__link:link {
      color: inherit;
      font-size: inherit;
      font-family: inherit;
    }

    &__label {
      margin-bottom: 0.5rem;
      text-transform: capitalize;
    }

    &__button {
      margin-top: 1rem;
    }
  }

  &__details {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  &__detail {
    width: 100%;
    list-style: none;
    margin-bottom: 0.5rem;
  }
}
