.page {
  background-image: url('assets/imgs/Screenshot\ 2021-04-21\ at\ 01.44.04.png');
  background-position: right;
  background-repeat: 1;
  background-size: cover;
  background-attachment: fixed;

  &__main {
    align-self: center;
  }

  &__footer {
    align-self: end;
  }
}
