@keyframes snakeLine {
  0% {
    transform: translateX(-100vw);
  }
  33% {
    transform: translateX(40%) translateY(0%) scaleX(0.05);
  }
  65% {
    transform: translateX(40%) translateY(0%) rotate(180deg) scaleX(0.05);
  }
  80% {
    transform: translateX(0%) translateY(0%) scaleX(0.05) rotate(180deg);
  }
  100% {
    transform: translateX(0%) translateY(0%) rotate(180deg);
    border-radius: 30px;
  }
}

@keyframes slideRight {
  0% {
    color: red;
    transform: translateX(-100%) rotate3d(1, 1, 1, 0deg);
  }
  // 50% {
  //   color: orange;
  //   transform: translateX(-50%) rotate3d(1, 1, 1, 180deg);
  // }
  100% {
    color: white;
    transform: translateX(0%) rotate3d(1, 1, 1, 360deg);
  }
}

@keyframes rainbow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes retro-line {
  0% {
    box-shadow: turquoise -10px 10px 0px 0px;
  }
  50% {
    box-shadow: #00ff00 -5px 5px 0px 0px;
  }
  100% {
    box-shadow: #6666ff 0px 0px 0px 0px;
  }
}

@keyframes reveal {
  0% {
    background: turquoise;
    transform: translateX(100%) scaleX(1%);
  }
  50% {
    background: #00ff00;
    transform: translateX(-50%) scaleX(1%);
  }
  100% {
    background: #6666ff;
    transform: translateX(-50%) translateY(50%) scaleX(5%) scaleY(1%);
  }
}
