@use './variables' as *;

@mixin media($device) {
  $size: map-get($breakpoint, $device);
  @media (min-width: $size) and (min-height: map-get($height, $device)) {
    @content;
  }
}

@mixin container() {
  width: 800px;
  max-width: 90vw;
  margin: 0 auto;
  max-height: 100%;
  position: relative;
}

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin transition($length) {
  transition: all map-get($transition-length, $length);
}
