@mixin container() {
  width: 1100px;
  max-width: 90vw;
  margin: auto;
}

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@function invertColor($font-color) {
  @if (lightness($font-color) > 50) {
    @return darken($font-color, 100%);
  }
}

$font-color: rgba(255, 255, 255, 0.8);
$dark-background: rgba(000, 000, 000, 0.6);
