@use 'sass:map';

$breakpoint: (
  'mobile': 500px,
  'tablet': 768px,
  'desktop': 1260px,
);

$transition-length: (
  'short': 0.2s,
  'medium': 0.5s,
  'long': 1.5s,
);

$font-color: rgba(255, 255, 255, 0.8);
// $accent-color: rgba(51, 164, 240, 0.8);
$accent-color: rgb(130, 217, 239);
$rainbow-color: linear-gradient(
  to right,
  #ff6666,
  #0099ff,
  #00ff00,
  #ff3399,
  #6666ff
);

$dark-background: linear-gradient(
  to right,
  rgba(0, 0, 0, 0.6),
  rgba(000, 000, 000, 0.3)
);

$shadow-light: rgba(255, 255, 255, 0.265) 0px 0px 10px;
